#navbar {
    background-color: #DD6EFF;
    border-radius: 9px;
    height: 62px;
    margin-top: 12px;
}

#menu-header {
    color: black;
    border-color: #DD6EFF;
}

.logo {
    position: absolute;
    width: 134px;
    height: 60.25px;
    left: 89px;
    top: 1.38px;
}

.formulario-aluno {
    background-color: #B1CAF8;
    margin-top: 46px;
    border-radius: 10px;
    padding-left: 14px;
    padding-top: 34px;
    height: 730px;
}

.formulario-empresa {
    background-color:#F3B07D;
    margin-top: 46px;
    border-radius: 10px;
    padding-left: 14px;
    padding-top: 34px;
    height: 600px;
}

.form-control {
    background-color: #C4C4C4 !important;
    border-radius: 8px !important;
}

.imgHeader1 {
    height: 24px;
    width: 25px;
    border-radius: 0px;
    margin-top: -43.5px;
}

.imgHeader2 {
    height: 24px;
    width: 24px;
    margin-left: 241px;
    margin-top: -35.5px;
    border-radius: 0px;

}

#campoForm {
    width:94%
}

.description {
    font-weight: 800;
    padding-bottom: 24px;
}



.description1 {
    font-weight: 800;
    margin-top: 46px;
}

#button {
    background-color:#F89040 ;
    width: 58%;
    height: 46px;
    margin-left: 18%;
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin-top: 10%;
}

#button1 {
    background-color:#B8CCE9 ;
    width: 58%;
    height: 46px;
    margin-left: 18%;
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin-top: 10%;
}

#navbarSupportedContent {
    background-color: #DD6EFF;
    padding-left: 5% !important;
    padding-top: 5%;
    margin-top: 8px;
    z-index: 1
}

#item {
    color:white !important;
    font-weight: 700;
    
}

#rodape {
    background-color: #C4C4C4;
    border-radius: 15px;
    width: 100%;
    margin-left: 2px;
    margin-top: 42px;
    padding-left: 20px;
    padding-top: 12px;
    margin-bottom: 10px;
}

#rodape1 {
    background-color: #C4C4C4;
    border-radius: 15px;
    width: 100%;
    margin-left: 2px;
    margin-top: 386px;
    padding-left: 20px;
    padding-top: 12px;
    margin-bottom: 10px;
}

#itemFooter {
    color: black !important;
    text-decoration: none;
    font-weight: 600;
}

#faq-title {
    position: absolute;
    left: 3.33%;
    right: 41.11%;
    top: 21%;
    bottom: 75.72%;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    /* or 200% */

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #000000;
}

.faq-div {
    margin-top: 100px;
    height: 130px;
    background: #E5E5E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.ask {
    position: relative;
    left: 6.85%;
    right: 3.57%;
    top: 7.22%;
    bottom: 70.1%;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;    
    line-height: 24px;
    /* or 218% */

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: rgba(44, 50, 62, 0.63);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.answer {
    margin: 30px 10px 5px 70px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    /* or 150% */

    display: flex;
    align-items: center;
    text-align: justify;
    letter-spacing: 0.01em;

    color: rgba(44, 50, 62, 0.63);
}
#opcaoLogin {
    background-color: #B1CAF8;
    margin-top: 52px;
    border-radius: 10px;
    padding-left: 14px;
    padding-top: 10px;
    height: 147px;
}

#button2 {
    background-color: #F89040;
    width: 46%;
    height: 46px;
    margin-left: 1%;
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin-top: -4%;
    border-radius: 10px;
}

#button1 {
    background-color: #F89040;
    width: 46%;
    height: 46px;
    margin-left: 1%;
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin-top: -4%;
    border-radius: 10px;
}

.form-input {
    background-color: #C4C4C4 !important;
    border-radius: 8px !important;
    font-weight: 800 !important;
    width: 70% !important;
    margin-left: 48px;
}

.login-aluno {
    background-color: #B1CAF8;
    margin-top: 46px;
    border-radius: 10px;
    padding-left: 14px;
    padding-top: 34px;
    height: 433px;
}

#rodape-login {

    background-color: #C4C4C4;
    border-radius: 15px;
    width: 100%;
    margin-left: 2px;
    margin-top: 112px;
    padding-left: 20px;
    padding-top: 12px;
    margin-bottom: 10px;
}

#acesso-estudante {
    color: black;
    text-decoration: none;
}

.login-empresa {
    background-color: #F3B07D;
    margin-top: 46px;
    border-radius: 10px;
    padding-left: 14px;
    padding-top: 34px;
    height: 433px;
}

#acesso-empresa {
    color: black;
    text-decoration: none;
}

#novidadesBody {
    background-color: #C4C4C4;
    border-radius: 15px;
    height: 220px;
    width: 96%;
    margin-left: 7px;
    margin-top: 74px;
}

.novidades {
    width: 68%;
    position: absolute;
    margin-left: 10%;
    border-radius: 10px;
    margin-top: 0px;
}

#text-home {
    font-weight: 700;
    font-size: 17px;
    margin-left: 12px;
    margin-top: 10px;
}

#beneficiosBody {
    background-color: #B1CAF8;
    border-radius: 15px;
    height: 488px;
    width: 96%;
    margin-left: 7px;
    margin-top: 38px;
}

#text-home1 {
    font-weight: 800;
    font-size: 22px;
    margin-left: 14px;
    margin-top: 22px;
}

#text-home2 {
    font-weight: 600;
    font-size: 19px;
    margin-left: 14px;
    margin-top: -6px;
}

.imgBenef {
    width: 36%;
    border-radius: 50%;
    height: 86px;
    margin-left: 7px;
}

#benef {
    margin-left: 187px;
    margin-top: -162px;
}

#depoimentosBody {
    background-color: #F89040;
    border-radius: 15px;
    height: 488px;
    width: 96%;
    margin-left: 7px;
    margin-top: 38px;
}

#benef1 {
    margin-left: 28%;
    margin-top: 6px;
}

.imgBenef1 {
    width: 50%;
    border-radius: 50%;
    height: 174px;
    margin-left: -10px;
}

.name {
    font-size: 19px;
    margin-top: 15px;
    font-weight: 600
}
.title {
    position: absolute;
    width: 336px;
    height: 47px;
    left: 12px;
    top: 102px;

    background: #B1CAF8;
    border-radius: 8px;
}
.fontTitle{
    padding-left: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* or 200% */

    display: flex;
    align-items: center;
    letter-spacing: 0.01em;

    color: #000000;
}
.box {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background-color: #DD6EFF;
    border-radius: 8px;

}

.map{
   
    margin-left: 30px;
    width: 150px;
    height:  150px;
    z-index: 30;
    border-radius: 8px;
}
.yellowBox {
    padding: 20px;
    background: #F9E25D;
    border-radius: 8px;
    width: 80%;
}
.vaga {
    background: #C4C4C4;
    border-radius: 8px;
    position: absolute;
    width: 180px;
    height: 162px;
    left: 238px;
    top: 220px;
}
